<!doctype html>
<html>
  <head>
    <title>Dinner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' \>
  </head>
  <body>
    <h1><%= Headline %></h1>
    <h2>The dinner for today is: </h2>
    <ul>
      <% menuItems.forEach(function(item){ %>
        <li><%= item %></li>
      <% }) %>
    </ul>
  </body>
</html>